[submodule "yaz"]
	path = yaz
	url = git://git.indexdata.com/yaz.git
[submodule "yazpp"]
	path = yazpp
	url = git://git.indexdata.com/yazpp.git
[submodule "metaproxy"]
	path = metaproxy
	url = git://github.com/ssp/metaproxy.git
